/* Level5.module.css */

.topButton {
  padding-top: 55px;
}

.bottomButton {
  margin-top: 100px; /* 好きな場所に余白で下げる */
  margin-left: 290px; /* flex環境なら右寄せ */
  padding-bottom: 40px;
}

.verticalButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の縦全体を使って中央に配置 */
  gap: 10px; /* ボタン同士の間隔 */
}

.buttonWrapper {
  display: flex;        /* 横並びにする */
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
