/*@fix10:特に問題はないが見栄えだけよくなるようにしといた*/
.wrapper {
  display: flex;
  flex-direction: column;  /* ← これを追加で縦並びに */
  align-items: center;     /* 中央揃え（横方向の中心） */
  gap: 16px;
}
.textFont {
  font-size:20px;
  font-weight:1px;
  text-align: center;
}